<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        
        <main>
            <div class="jumbotron">
                <h1>Error 404</h1>
                <p>Try to make a reasonable search.</p>
            </div>
        </main>
        
        <footer>
            <%- include('../partials/footer'); %>
        </footer>

    </body>
</html>